<div>
  <ul>
    <h3>Streak: {{UserStats.streak}}</h3>
    <h3>Highest Streak: {{UserStats.highestStreak}}</h3>
    <h3>Games Played: {{UserStats.gamesPlayed}}</h3>
    {{!-- variable must match here with the routes --}}
    <h3>Total Games: {{UserStats.gamesPlayed}}</h3>
    <h3>Games Solved; {{UserStats.lastCompleted}}</h3>
    {{!-- variables must match here --}}
  </ul>
</div>