<div>
  <ul>
    <h3>Streak: {{streak}}</h3>
    <h3>Highest Streak: {{highestStreak}}</h3>
    <h3>Games Solved: {{gamesSolved}}</h3>
    {{!-- variable must match here with the routes --}}
    <h3>Total Games: {{gamesPlayed}}</h3>
    <h3>Games Solved: {{lastSolved}}</h3>
    {{!-- variables must match here --}}
  </ul>
</div>
